.forces-chart-container svg text {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif!important;
  font-size: 0.9rem!important;
  fill: rgba(255,255,255,0.7)!important;
}

@media screen and (max-width: 414px) {
  .forces-chart-container {
    height: 360px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .forces-chart-container {
    height: 600px;
  }
}

@media screen and (min-width: 1025px) {
  .forces-chart-container {
    height: 700px;
  }
}