.percent-text {
  font-size: 0.8rem!important;
  font-weight: 300;
}

.ant-divider {
  margin: 0.6rem 0;
}


.profile-subtitle {
  line-height: 1.4!important;
}

@media screen and (max-width: 414px) {
  .profile-item-description {
    font-size: 0.7rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .profile-item-description {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 1025px) {
  .profile-item-description {
    font-size: 0.9rem;
    font-weight: 600;
  }
}