.ant-collapse {
  background-color: rgba(255,255,255,0.97);
}

.ant-collapse-header {
  font-size: 1.2rem;
  height: 6vh;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
}

.profile-subtitle {
  margin: 0.5rem 3rem;
  font-size: 0.8rem!important;
  font-weight: 100;
  font-style: italic;
}

@media screen and (max-width: 414px) {
  .profiles-container {
    margin: 1rem 2rem;
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .profiles-container {
    margin: 2rem 15vw;
  }
}

@media screen and (min-width: 1025px) {
  .profiles-container {
    margin: 2rem 25vw;
  }
  .profile-subtitle {
    margin: 0.5rem 25vw;
  }
}
