// svg text {
//   font-size: 0.5rem!important;
// }

.percent-text {
  font-size: 0.8rem!important;
  font-weight: 300;
}

.ant-divider {
  margin: 0.6rem 0;
}

.profile-item-description {
  font-size: 0.7rem;
  font-weight: 600;
}