.time-chart-container svg text {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif!important;
  font-size: 0.8rem!important;
  fill: rgba(255,255,255,0.9)!important;
}

.ant-tooltip-arrow {
  display: none;
}

span.time-chart-tooltip {
  background-color: rgba(0,0,0,0.7);
  font-size: 1.1rem;
  padding: 0.6rem;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}

div.ant-tooltip-inner {
  font-size: 0.8rem;
}

@media screen and (max-width: 414px) {
  .time-chart-container {
    height: 360px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .time-chart-container {
    height: 600px;
  }
}

@media screen and (min-width: 1025px) {
  .time-chart-container {
    height: 700px;
  }
}