.time-ago {
  font-weight: 700;
  color: white;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.more-info {
  font-weight: 500;
  font-style: oblique;
  font-size: 0.75rem;
  margin-top: 1rem;
  text-decoration: underline;
}
