.date-picker {
  width: 100%!important;
  margin-bottom: 0.5rem;
}

.ant-calendar-picker-container {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif!important;
}
