.icon {
  width: 24px;
  height: 24px;
}

.icon-man {
  fill: rgba(17, 17, 18, 0.7);
}

.icon-woman {
  fill: rgba(174, 85, 207, 0.8);
}

.ant-divider {
  background: rgba(17, 17, 18, 0.6);
}

.flag-icon {
  margin-right: 3px;
}

.victim-or-detainee {
  font-size: 0.8rem;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0.8rem;
}
