.ant-select-tree * {
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.ant-select-search__field__placeholder {
  line-height: 1.6;
}

.ant-select-open .ant-select-selection {
  border-color: #b90021;
}

.ant-select-selection {
  border-radius: 0.15rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
}

.ant-select-dropdown {
  border-radius: 0.15rem!important;
  -webkit-border-radius: 0.15rem!important;
  -moz-border-radius: 0.15rem!important;
  -ms-border-radius: 0.15rem!important;
  -o-border-radius: 0.15rem!important;
}

.category-tree-dropdown {
  background: rgba(255,255,255,0.95);
}

.ant-select-tree-checkbox-checked::after {
  border: 1px solid #92a6a6;
}

.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
  background-color: rgba(146, 166, 166, 0.5);
  border-color: rgba(146, 166, 166, 1);
  border-radius: 0.15rem!important;
  -webkit-border-radius: 0.15rem!important;
  -moz-border-radius: 0.15rem!important;
  -ms-border-radius: 0.15rem!important;
  -o-border-radius: 0.15rem!important;
}